@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", cursive;
}

body {
  background-image: url("../img/landscape.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  color: white;
}
.container_back {
  margin: 0 auto;
}
.container_login-title {
  margin: 1rem auto;
  font-size: 2rem;
}
.container_menu {
  display: flex;
  width: 100%;
  padding: 0.5rem;
}
.container_menu_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0.1rem;
  margin: 0.25rem;
  width: 10rem;
  padding: 1rem;
  box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
  text-decoration: none;
}
.container_menu_button:first-child {
  margin-left: 35%;
}
.container_menu_button:last-child {
  margin-left: auto;
}
.container_register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}
.container_register label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_register_categories {
  display: flex;
  flex-direction: row;
}
.container_register_categories_label {
  margin: 0.5rem;
}
.container_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_login label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_errors {
  color: white;
  margin: auto;
}
.container_content {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
  width: 100%;
}
.container_content_form {
  margin: auto;
}
.container_content_post-link {
  all: unset;
  width: 75%;
  color: white;
  cursor: pointer;
  margin: auto;
}
.container_content_post-link_container {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(255, 255, 255, 0.664) 0px 2px 8px 0px;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  margin: auto;
}
.container_content_post-link_container span {
  padding: 1.1rem 0;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.container_content_post-link_container_like {
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: auto 0;
  margin-left: auto;
}
.container_content_post-link_container span {
  margin: auto;
}
.container_content_post-link_container_col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding: 0.5rem 1rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.container_content_post-link_container_col_title {
  margin: auto 0;
}
.container_content_categories {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container_content_categories span {
  margin: auto;
  margin-top: 0.5rem;
}
.container_content_categories_row {
  display: flex;
  margin: auto;
}
.container_content_categories_row_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.container_content_categories_form:first-child {
  margin-left: auto;
}
.container_content_categories_form_filter {
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-left: 35%;
  margin-right: 12%;
}
.container_content_categories_item {
  background: transparent;
  border: 1px solid transparent;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 8px 0px;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
}
.container_content_categories p {
  margin: 0 0.3rem;
}
.container_content_categories input[type=submit] {
  background: transparent;
  border: 1px solid transparent;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 8px 0px;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.container_content_no-comments {
  margin: auto;
}
.container input[type=submit] {
  background: transparent;
  border: 1px solid transparent;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 8px 0px;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.container input[type=text],
.container input[type=email],
.container input[type=password] {
  padding: 0.5rem 1rem;
}

#selected {
  border: 1px solid red;
}

#back {
  background: transparent;
  border: 1px solid transparent;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 8px 0px;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */