@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', cursive;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url('../img/landscape.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  color: white;
  &_back {
    margin:0 auto;
  }
  &_login-title {
    margin: 1rem auto;
    font-size: 2rem;
  }
  &_menu {
    @include flexRow;
    width: 100%;
    padding: 0.5rem;
    &_button {
      @include flexCol;
      color: white;
      border-radius: 0.1rem;
      margin: 0.25rem;
      width: 10rem;
      padding: 1rem;
      box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
      text-decoration: none;
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-left: auto;
      }
    }
  }
  &_register {
    @include flexCol;
    label {
      @include flexCol;
    }
    margin-bottom: auto;
    &_categories {
      display: flex;
      flex-direction: row;
      &_label {
        margin: 0.5rem;
      }
    }
  }
  &_login {
    @include flexCol;
    label {
      @include flexCol;
    }
  }
  &_errors {
    color: white;
    margin: auto;
  }
  &_content {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
    width: 100%;
    &_form {
      margin: auto;
    }
    &_post-link {
      all: unset;
      width: 75%;
      color: white;
      cursor: pointer;
      margin: auto;
      &_container {
        display: flex;
        flex-direction: row;
        box-shadow: rgba(255, 255, 255, 0.664) 0px 2px 8px 0px;
        border: 1px solid white;
        padding: 0.5rem 1rem;
        margin: auto;
        span{
          padding: 1.1rem;
        }
        &_like{
          margin:auto 0;
          margin-left: auto;
        }
        span {
          margin: auto;
        }
        &_col {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin: auto;
          padding: 0.5rem;
          max-width: fit-content;
          &_title{
            margin:auto 0;
          }
        }
      }
    }
    &_categories {
      display: flex;
      flex-direction: column;
      margin: auto;
      span {
        margin: auto;
        margin-top: 0.5rem;
      }
      &_row {
        @include flexRow;
        margin: 1rem;
        &_column {
          @include flexCol;
          align-items: flex-start;
        }
      }
      &_form {
        margin: 0 0.3rem;
      }
      &_item {
        background: transparent;
        border: 1px solid transparent;
        color: white;
        box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 8px 0px;
        border-radius: 2px;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        font-size: 1rem;
      }
      p {
        margin: 0 0.3rem;
      }
      input[type='submit'] {
        background: transparent;
        border: 1px solid transparent;
        color: white;
        box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 8px 0px;
        border-radius: 2px;
        padding: 0.5rem 1rem;
        cursor: pointer;
      }
    }
    &_no-comments{
      margin: auto;
    }
  }
  input[type='submit'] {
    background: transparent;
    border: 1px solid transparent;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 8px 0px;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    padding: 0.5rem 1rem;
  }
}

#selected {
  border: 1px solid red;
}

#back {
  background: transparent;
  border: 1px solid transparent;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 8px 0px;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
