<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/register" id="form">
      <label for="username">
        <span>Username</span>
        <input type="text" name="username" id="username" />
      </label>
      <label for="email">
        <span>Email</span>
        <input type="email" name="email" id="email" />
      </label>
      <label for="password1">
        <span>Password</span>
        <input type="password" name="password1" id="password1" />
      </label>
      <label for="password2">
        <span>Repeat Password</span>
        <input type="password" name="password2" id="password2" />
      </label>
      <input type="submit" value="Submit" />
      {{.}}
    </form>
  </body>
</html>
